{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<a href="/"><i class="fas fa-arrow-left"></i> Volver</a>

  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
<div class="container-fluid "  >
  

      <form class="form-signin" method="post" novalidate>
      <center> <img class="mb-4 img-thumbnail" src="{% static "img/logo.jpg" %}" alt="" width="200" height="100"></center> 
        <h1 class="h3 mb-3 font-weight-normal text-center">INGRESAR</h1>
        {% csrf_token %}
        <input type="hidden"  name="next" value="{{ next }}">
        <div class="col-18">
          {{ form.username|as_crispy_field }} 

        </div>
        <div class="col-18">
          {{ form.password|as_crispy_field }}

        </div>
    
       <center><button type="submit" class="btn btn-primary">Entrar</button></center> 
        <p class="mt-5 mb-3 text-center text-muted">&copy; 2019-2020</p>
      </form>
    
  
</div>



{% endblock %}
