{% extends 'inventario_app/administrador/despacho/heder.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<a href="{% url 'administrador:reporte_todos_excel' despacho.pk %}">Imprimir</a>
            {% if despacho.destino.imagen  %}
            <div class="img-fluid ">

                <img src=" {{despacho.destino.imagen.url}} " style="margin-left: 250px;" alt="">
            {% endif %}
            </div>
            <br>

            <p style="margin-left: 250px;"> <strong>FICHA DE ENTREGA DE EQUIPAMIENTO</strong> </p>

            <div class="row ">
                <div class="col-4">
                  <strong>Usuario: </strong> <ins> {{despacho.usuario}} </ins>
                </div>
                <div class="col-6" >
                  <strong>Solicitado</strong> <ins>{{despacho.solicitado}}</ins> 
                </div>
                <div class="col-4">
                  <strong>Área:</strong> <ins>{{despacho.area}}</ins> 
                </div>
                <div class="col-6">
                  <strong>Fecha de entrega</strong> <ins> {{despacho.fecha_entrega|date:"d/m/Y"}}</ins>
                </div>
                <div class="col-4">
                  <strong>Origen:</strong> <ins>{{despacho.origen}}</ins> 
                </div>


                <div class="col-4" >
                    <strong>Destino:</strong> <ins>{{despacho.destino}}</ins> 
                </div>


                <br>
                <br>
            </div>

                <div class="table-responsive">
                <table id="example" class="table table-striped display table-sm">
                    <thead>
                        <tr>
                          <th>Id</th>
                          <th>Colegio</th>
                          <th>Equipo</th>
                          <th>Marca</th>
                          <th>Modelo</th>
                          <th>Serie</th>
                          <th>Código</th>
                          <th>Condición</th>
      
                        </tr>
                    </thead>
                    <tbody>
                    <tr style="text-transform: uppercase;">
                        <td>{{despacho.equipo.id}}</td>
                        <td>{{despacho.equipo.colegio}}</td>
                        <td>{{despacho.equipo.equipo}}</td>
                        <td>{{despacho.equipo.marca}}</td>
                        <td>{{despacho.equipo.modelo}}</td>
                        <td>{{despacho.equipo.serie}}</td>
                        <td>{{despacho.equipo.codigo}}</td>
                        <td>{{despacho.equipo.condicion}}</td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Procesador</th>
                        <th>Ram</th>
                        <th>Sistema</th>
                        <th>Disco</th>
                        <th>Placa Madre</th>
                        <th>Office</th>    
                      </tr>
                    </thead>
                    <tbody>
                        {% for inventarios in despacho.equipo.inventarios.all %}
                        <tr>
                        <td>{{inventarios.procesador}}</td>
                        <td>{{inventarios.ram}}</td>
                        <td>{{inventarios.sistema}}</td>
                        <td>{{inventarios.disco}}</td>
                        <td>{{inventarios.placa}}</td>
                        <td>{{inventarios.office}}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td class="bg-light text-center font-italic" colspan="5">No tiene caracteristicas todavia</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="container-fluid">
                <ul>
                    {% for extras in despacho.extras.all %}
                    <li> {{extras.name}} </li>
                    {% endfor %}
                </ul>


            </div>
            <ins style=" text-align: center; "> <p style="color: white;"> bbbbbbbbbbbbbbbbbbbbblablablabla</p> </ins>
            <p style="text-align: center; text-transform: uppercase;"> <strong>Firma recibido conforme</strong>  </p>
          
            {% endblock %}