{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--   <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Registrar</a>
-->

  <br>
 <center><a href="{% url 'home' %}">
  <img    src="{% static "img/logo.jpg" %}" height="70px" class=" img-fluid img-thumbnail" style="align-content: center;"  alt="">


</a></center> 
  <br>
  <h2 class="text-center">Plataforma Informática</h2>
  <br>
  <div class="text-center">  
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Ingresar</a>
  </div>

  <hr>
  <p class="text-center text-muted">
    Aplicación de Gestión Informática

  </p>
  <p class="mt-5 mb-3 text-center text-muted">&copy; 2019-2020</p>


{% endblock %}
