{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user.is_soporte %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontello-2f186091/css/fontello.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/soporte.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <title>Soporte</title>
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
  <nav class="navbar  fixed-top  flex-md-nowrap p-0 " style="background-color: #0D32B1;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href='/' style="color: white;" >Departamento Informática</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Salir</a>
      </li>
    </ul>
  </nav>
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <img    src="{% static "img/logo.jpg" %}"  class="img-thumbnail" style="width:230px;height:70px;"  alt="">

            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/">
                    <i class="fas fa-table"></i>
                    Inventario <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'soporte:reportes'  %}">
                    <i class="far fa-file-alt"></i>
                    Reportes Diarios
                  </a>
                </li>

                
              </ul>
              
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Usuario: {{user.username}} </span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
            </div>
          </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Detalle</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">

                    <a href="{% url 'soporte:adicional_add' inventario.pk %}" class="btn btn-sm btn-outline-secondary">Agregar caracteristicas</a>
                    <a href="{% url 'soporte:monitor_add' inventario.pk %}" class="btn btn-sm btn-outline-secondary">Agregar monitor</a>
                    <a href="{% url 'soporte:incidencia_add' inventario.pk %}" class="btn btn-sm btn-outline-secondary">Agregar incidencia</a>

                  </div>
                  
                </div>
            </div>
      
            


            <div class="row mb-2">
                <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="container-fluid" >
                          {% if inventario.colegio.imagen %}
                          <img src=" {{inventario.colegio.imagen.url}} " alt="" class="float-right" style="width: 40%;" >
                          {% endif %}
                            <p class="text-muted">Agregado por: {{inventario.user}} </p>
                          <br>
                          <p style="text-transform: uppercase;"> <strong> Codigo:</strong> {{inventario.codigo}}</p>
                          <p> <strong> Equipo:</strong> {{inventario.equipo}}</p>
                          <p><strong>Usuario:</strong> {{inventario.usuario}} </p>
                          <p> <strong>Colegio:</strong> {{inventario.colegio}}</p>
                          <p><strong>Modelo:</strong> {{inventario.modelo}}</p>
                          <p><strong>Marca:</strong> {{inventario.marca}} </p>
                          <p><strong>N° Documento:</strong> {{inventario.numero_doc}} </p>
                          <p><strong>Fecha de compra:</strong> {{inventario.Fecha|date:"d/m/y"}} </p>
                          <p><strong>Serie:</strong> {{inventario.serie}} </p>
                          <p><strong>Ubicación:</strong> {{inventario.ubicacion}} </p>
                          <p><strong>Condición</strong> {{inventario.condicion}} </p>
                          <p><strong>Estado:</strong> {% if inventario.valido == True %} <span style="color: blue;"> Válido </span>{% else %} {% if inventario.valido == False %} <span style="color: red;"> Nulo </span>{% endif %} {% endif %} </p>
                          <br>
                            
                            <br>
                            <h4> <strong>Incidencia</strong> </h4>
                            {% for incidencia in incidencia %}
                             <p class="text-justify" style="white-space: pre-wrap; ">{{incidencia.created|date:"d/m/y"}} {{incidencia.texto}}</p> 
                            {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    {% if inventario.imagen %}
                      <a href="{{ inventario.imagen.url }}" target="_blank"><img src="{{ inventario.imagen.url }}"  class="img-fluid border border-dark " style="width: 100%;"/></a>
                    {% endif %}
  
                  </div>
                </div>
            </div>

            <div class="table-responsive">
              <h3>Caracteristicas</h3>
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Procesador</th>
                      <th>Ram</th>
                      <th>Sistema</th>
                      <th>Disco</th>
                      <th>Placa Madre</th>
                      <th>Office</th>
                      <th></th>
  
                    </tr>
                  </thead>
                  <tbody>
                    {% for adicional in adicional %}
                    <tr>
                      <td>{{adicional.procesador}}</td>
                      <td>{{adicional.ram}}</td>
                      <td>{{adicional.sistema}}</td>
                      <td>{{adicional.disco}}</td>
                      <td>{{adicional.placa}}</td>
                      <td>{{adicional.office}}</td>
                      <td class="text-right">
  
          
                        
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td class="bg-light text-center font-italic" colspan="5">No tiene caracteristicas todavia</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>

            <div class="table-responsive">
              <h3>Monitor</h3>
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>Imagen</th>
                    <th></th>

                  </tr>
                </thead>
                <tbody>
                {% for monitor in monitor %}
                  <tr>
                    <td>{{monitor.marca}}</td>
                    <td>{{monitor.modelo}}</td>
                    <td>{{monitor.serie}}</td>
                  {% if monitor.imagen %}
                    <td><a href="{{ monitor.imagen.url }}" target="_blank">Ver</a></td>
                    {% endif %}
                    <td class="text-right">

        
                      
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td class="bg-light text-center font-italic" colspan="5">No tiene caracteristicas todavia</td>
                  </tr>
                 
                {% endfor %}
                </tbody>
              </table>
          </div>
            

            <br>
<br>

              <br>
          </main>
        </div>
      </div>
{% endif %}
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/jquery.plugin.min.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    


</html>